@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
p {
  color: #8f8a8a;
  font-weight: 500;
}
i {
  color: #514c4c;
}
ul li a i:hover {
  color: hsl(171, 66%, 44%);
}
ul li a:hover {
  color: hsl(171, 66%, 44%);
}

.container {
  max-width: 1100px;
  padding: 0 60px;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn-green {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 3px 5px #888888;
  padding: 15px 50px;
  color: white;
  border: none;
  border-radius: 50px;
}
.btn-blue {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 3px 5px #888888;
  padding: 15px 50px;
  color: white;
  border: none;
  border-radius: 50px;
}
.text-center {
  text-align: center;
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.bg-img {
  background-image: url("./images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.clipboard {
  display: flex;
  align-items: center;
  height: 100vh;
}
.container .logo img {
  padding-bottom: 20px;
}
.clipboard h1 {
  font-size: 45px;
  padding: 10px;
}
.clipboard p {
  font-size: 20px;
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
}
.clipboard .flex {
  justify-content: center;
  gap: 20px;
}
.snippets .grid {
  grid-template-columns: 2fr 1fr;
  position: relative;
}
.snippets-text {
  padding: 60px 0;
}
.snippets .snippets-text h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.snippets .snippets-text p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.snippets .computer img {
  position: absolute;
  left: -17.7rem;
  top: 0;
  bottom: 0;
}
.snippets .text-control {
  padding: 30px 0;
}
.snippets .text-control h3 {
  font-size: 21px;
  padding-bottom: 10px;
}
.snippets .text-control p {
  font-size: 18px;
}
.access-clipboard {
  padding-top: 70px;
}
.access-clipboard h2 {
  font-size: 30px;
  padding-top: 180px;
  padding-bottom: 15px;
}
.access-clipboard p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
  padding-bottom: 60px;
}
.workflow {
  padding: 50px 0;
}
.workflow h2 {
  font-size: 25px;
  padding-bottom: 10px;
}
.workflow p {
  font-size: 18px;
}
.workflow .flex {
  height: 200px;
  margin-top: 100px;
}
.workflow-control {
  width: 300px;
  height: 100%;
}
.workflow-control h3 {
  font-size: 20px;
  padding: 10px;
}
.company {
  padding-bottom: 50px;
}
.clipboard-os {
  padding: 140px 0;
}
.clipboard-os .flex {
  justify-content: center;
  gap: 20px;
}
.clipboard-os h2 {
  font-size: 30px;
}
.clipboard-os p {
  font-size: 20px;
  max-width: 800px;
  margin: auto;
  padding: 25px 0;
}
.company {
  padding: 50px 0;
}
.company .flex {
  flex-wrap: wrap;
}
.footer {
  background-color: #f4f4f4;
}
.footer .flex {
  height: 150px;
}
.footer .nav-links ul {
  gap: 80px;
}
.nav-links {
  margin-top: 18px;
}
.nav-links ul {
  display: flex;
}
.nav-links .wrap li {
  padding-bottom: 13px;
}
.footer .nav-links ul > *:nth-child(3) {
  align-self: start;
}
.footer .logo img {
  width: 50px;
  margin: 0;
  padding: 0;
}
.footer .social ul {
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
}
.footer .social li {
  margin: 0;
}
@media (max-width: 768px) {
  body {
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 0 25px;
  }
  .clipboard {
    padding-bottom: 43rem;
  }
  .clipboard h1 {
    padding: 30px 2px;
  }
  .bg-img {
    background-image: url("./images/bg-header-mobile.png");
    background-position: center;
  }
  .clipboard .logo img {
    width: 100px;
    padding-top: 80px;
  }
  .clipboard h1 {
    font-size: 30px;
  }
  .clipboard p {
    font-size: 16px;
    line-height: 1.5;
  }
  .btn {
    width: 100%;
  }
  .container .flex {
    flex-direction: column;
  }
  .snippets .grid {
    position: unset;
    grid-template-columns: 1fr;
  }
  .snippets .computer img {
    position: unset;
    width: 300px;
  }
  .snippets .snippets-text h2 {
    font-size: 27px;
    width: 80%;
    margin: auto;
  }
  .snippets .snippets-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  .snippets .text-control p {
    font-size: 16px;
    line-height: 1.5;
  }
  .access-clipboard img {
    padding-bottom: 60px;
    width: 100%;
  }
  .access-clipboard p {
    font-size: 16px;
    line-height: 1.5;
  }
  .access-clipboard h2 {
    font-size: 25px;
    width: 80%;
    margin: auto;
  }
  .access-clipboard h2 {
    padding-top: 10px;
  }
  .workflow {
    padding-bottom: 300px;
  }
  .workflow h2 {
    width: 80%;
    margin: auto;
  }
  .workflow-control {
    padding-bottom: 60px;
  }
  .clipboard-os {
    margin: 100px 0;
  }
  .clipboard-os p {
    padding: 20px 0;
  }
  .company {
    padding: 50px 0;
  }
  .company .flex {
    gap: 70px;
  }
  .clipboard-os {
    padding: 0;
  }
  .clipboard-os h2 {
    font-size: 24px;
    width: 70%;
    margin: auto;
  }
  .clipboard-os p {
    font-size: 16px;
    line-height: 1.5;
  }
  .footer .flex {
    height: 100%;
  }
  .footer {
    padding: 50px 0;
  }
  .footer li {
    padding: 10px;
  }
  .footer .nav-links ul {
    flex-direction: column;
    gap: 0;
  }
  .footer .nav-links ul > *:nth-child(3) {
    align-self: unset;
  }
  .footer .social {
    padding: 10px 0;
  }
  .footer .social ul {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 365px) {
  body {
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 0 25px;
  }
  .clipboard {
    padding-bottom: 43rem;
  }
  .clipboard h1 {
    padding: 30px 2px;
  }
  .bg-img {
    background-image: url("./images/bg-header-mobile.png");
    background-position: center;
  }
  .clipboard .logo img {
    width: 100px;
    padding-top: 80px;
  }
  .clipboard h1 {
    font-size: 30px;
  }
  .clipboard p {
    font-size: 16px;
    line-height: 1.5;
  }
  .btn {
    width: 100%;
  }
  .container .flex {
    flex-direction: column;
  }
  .snippets .grid {
    position: unset;
    grid-template-columns: 1fr;
  }
  .snippets .computer img {
    position: unset;
    width: 300px;
  }
  .snippets .snippets-text h2 {
    font-size: 27px;
    width: 80%;
    margin: auto;
  }
  .snippets .snippets-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  .snippets .text-control p {
    font-size: 16px;
    line-height: 1.5;
  }
  .access-clipboard img {
    padding-bottom: 60px;
    width: 100%;
  }
  .access-clipboard p {
    font-size: 16px;
    line-height: 1.5;
  }
  .access-clipboard h2 {
    font-size: 25px;
    width: 80%;
    margin: auto;
  }
  .access-clipboard h2 {
    padding-top: 10px;
  }
  .workflow {
    padding-bottom: 300px;
  }
  .workflow h2 {
    width: 80%;
    margin: auto;
  }
  .workflow-control {
    padding-bottom: 60px;
  }
  .clipboard-os {
    margin: 100px 0;
  }
  .company {
    padding: 50px 0;
  }
  .company .flex {
    gap: 70px;
  }
  .clipboard-os {
    padding: 0;
  }
  .clipboard-os h2 {
    font-size: 24px;
    width: 70%;
    margin: auto;
  }
  .clipboard-os p {
    font-size: 16px;
    line-height: 1.5;
  }
  .footer .flex {
    height: 100%;
  }
  .footer {
    padding: 50px 0;
  }
  .footer li {
    padding: 10px;
  }
  .footer .nav-links ul {
    flex-direction: column;
    gap: 0;
  }
  .footer .nav-links ul > *:nth-child(3) {
    align-self: unset;
  }
  .footer .social {
    padding: 10px 0;
  }
  .footer .social ul {
    display: flex;
    justify-content: center;
  }
}
